{% extends "base.html" %}

{% block content %}

  <!-- SEÇÃO DO SLIDESHOW -->
  <section class="slideshow-full">
    <!-- Contêiner das imagens que se alternam -->
    <div class="slideshow" id="slideshow">
      <img src="{{ url_for('static', filename='imagens/teste9.jpg') }}" class="slide active" alt="">
      <img src="{{ url_for('static', filename='imagens/fundo3.jpg') }}" class="slide" alt="">
      <img src="{{ url_for('static', filename='imagens/teste6.jpg') }}" class="slide" alt="">
    </div>

    <!-- Texto e botão centralizado sobre o slideshow -->
    <div class="texto-central">
      <h2>Sua empresa PetCare!</h2>
      <p>Seu cliente merece o melhor. Agende banhos, tosas e mais com carinho!</p>
      <a class="botao" href="{{ url_for('listar_agendamentos') }}">Agendar Agora</a>
    </div>
  </section>


{% endblock %}
