<header>
  <div class="menu-container">
    <div class="logo">🐾 PetCare</div>
    <nav class="menu">
      <ul>
        <li><a href="{{ url_for('home') }}">Início</a></li>
        <li><a href="{{ url_for('listar_clientes') }}">Clientes</a></li>
        <li><a href="{{ url_for('listar_pets') }}">Pets</a></li>
        <li><a href="{{ url_for('listar_agendamentos') }}">Agendamentos</a></li>
        <li><a href="{{ url_for('financas') }}">Finanças</a></li>
        <li><a href="{{ url_for('faqs') }}">FAQs</a></li>
      </ul>
    </nav>
  </div>
</header>
