{% extends "base.html" %}

{% block title %}Novo Agendamento | PetCare{% endblock %}

{% block content %}
<main class="conteudo">
  <h2>Novo Agendamento</h2>

  <form action="{{ url_for('novo_agendamento') }}" method="POST" class="formulario">

    <label for="nome_cliente">Nome do Cliente:</label>
    <input type="text" id="nome_cliente" name="nome_cliente" required>

    <label for="nome_pet">Nome do Pet:</label>
    <input type="text" id="nome_pet" name="nome_pet" required>

    <label for="tipo_servico">Tipo de Serviço:</label>
    <select id="tipo_servico" name="tipo_servico" required>
      <option value="">Selecione</option>
      <option value="Banho">Banho</option>
      <option value="Tosa">Tosa</option>
      <option value="Consulta">Consulta</option>
      <option value="Vacinação">Vacinação</option>
    </select>

    <label for="data">Data:</label>
    <input type="date" id="data" name="data" required>

    <label for="horario">Horário:</label>
    <input type="time" id="horario" name="horario" required>

    <label for="email">E-mail do Cliente:</label>
    <input type="email" id="email" name="email" required>


    <label for="observacoes">Observações:</label>
    <textarea id="observacoes" name="observacoes" rows="4"></textarea>

    <button type="submit" class="botao">Salvar Agendamento</button>
  </form>
</main>
{% endblock %}
